body {
    width:100%;
    height:auto;
    background-color:whitesmoke;
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center ;
}
