/*.period is a class, # is Identifier*/
.TopContent {
    background-image: url('./images/BannerImage3.PNG');
    background-position: center;
    background-repeat: no-repeat;
   
    color:deepskyblue; /*Text Color*/
    background-size: cover;
    font-size: 30px;
    width: 100%;
    height: 100px;
}

